@using SocialNetApp.Views.Models.Modules
@using CoreHelpers
@model PasswordRecoveryModel

<script type="text/javascript" src="@Url.Content("~/Scripts/_PasswordRecoveryHeadTags.min.js")"></script>
<div id="pwd_recovery">
    @using (Ajax.BeginForm("SendPassword", "Account", new AjaxOptions { HttpMethod = "Post", LoadingElementId = "SendPass_LoadingElement", OnBegin = "SendPasswordBegin", OnFailure = "SendPasswordFailure", OnSuccess = "SendPasswordSuccess", OnComplete = "SendPasswordComplete" }))
    {
        <div class="text">
            @Html.Raw(@Resources.Texts.PasswordRecoveryText)
        </div>
        <table border="0">
            <tr>
                <td>
                    <label for="sendpass_Email">@Resources.Words.Email:</label>
                </td>
                <td>
                    <input type="text" name="Email" id="sendpass_Email" value="@Model.Email" />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input id="sendpass_submit" type="submit" value="@Resources.Words.Send" />
                    <div class="loading_small hide" id="SendPass_LoadingElement">
                    </div>
                </td>
            </tr>
        </table>
    }
    <div class="hide" id="msg">
    </div>
    <div class="clear">
    </div>
    <input id="ajax_fail" type="hidden" value="@Resources.Messages.AjaxFail" />
</div>
