@using CoreHelpers
@using SocialNetApp.Views.Models.Modules
@model ProfilePageTimeLineModel
<script type="text/javascript" src="@Url.Content("~/Scripts/_ProfilePageTimeLineHeadTags.min.js")"></script>
<div id="pp_timeline">
    <div class="pp_in_title">
        <h2>@Resources.Words.ProfilePageLink_TimeLine</h2>
    </div>
    @if (Model.IsUserAllowedToPostOnWall)
    {
    <div class="post_on_wall">
        @{Html.RenderPartial(Urls.ModuleViews + "_PostEditor.cshtml", Model.PostEditorModel);}
    </div>
    }
    @if (Model.ActivityRecords.Any())
    {
        <div id="pp_timeline_activities">
        @foreach (var actRecord in Model.ActivityRecords)
        {
            Html.RenderPartial(actRecord.Item1.PartialViewUrl, actRecord.Item2);
        }
    </div>
        Html.RenderPartial(Urls.ModuleViews + "_ViewMore.cshtml", Model.ViewMoreModel);
    }
    else
    {
        if (!User.Identity.IsAuthenticated)
        {
            Html.RenderPartial(Urls.ModuleViews + "_AccessDenied.cshtml", Model.AccessDeniedModel);
        }
    }
</div>
<!-- words and settings: -->
<input type="hidden" id="w_read_more" value="@Resources.Words.ReadMore" />
<input type="hidden" id="w_read_less" value="@Resources.Words.ReadLess" />
<input type="hidden" id="config_show_more_length" value="@Digits.ShowMoreLength" />
<input type="hidden" id="w_write_your_comment" value="@Resources.Words.WriteYourComment" />
<input type="hidden" id="w_comment" value="@Resources.Words.Comment" />
<input type="hidden" id="w_share" value="@Resources.Words.Share" />
<input type="hidden" id="w_like" value="@Resources.Words.Like" />
<input type="hidden" id="w_unlike" value="@Resources.Words.Unlike" />
<input type="hidden" id="w_people_like_this" value="@Resources.Words.PeopleLikeThis" />
<input type="hidden" id="w_ajax_fail" value="@Resources.Messages.AjaxFail" />